<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý đối tác</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <style>
       
    </style>
</head>
<body>

    <!-- Nội dung trang web ở đây -->

    <footer>
        <p>&copy; 2023 Đề Tài Đồ Án. Được phát triển bởi sinh viên Nguyễn Thanh Lý </p>

</body>
</html>
