<title>Đề tài đồ án</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    
</head>
<body>

    <header>
        <h1>Đề Tài Đồ Án</h1>
        <ul>
            <li><a href="/myTable" data-page="myTable" class="active">Quản lý đề tài</a></li>
            <li><a href="/student" data-page="student">Đăng Ký Đề Tài</a></li>
        </ul>
    </header>

    <script>
        // Lấy đường dẫn hiện tại từ URL
        const currentPath = window.location.pathname;

        // Lặp qua các liên kết và thêm lớp active cho liên kết tương ứng
        document.querySelectorAll('header a').forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            }
        });
    </script>
</body>
</html>