

body {
  background-color: #ffffff;
}
  header {
  background-color: #187ee3;
  padding: 10px 20px;
  color: rgb(242, 255, 0);
}

header h1 {
  margin: 0;
  padding: 0;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header li {
  display: inline-block;
  margin-right: 20px;
}

header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

header a:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}

//quanly
table {
  background-color: #ffffff;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
  
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #ffdd00;
  }

  #addRowBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  .saveBtn {
    background-color: #c47070;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }


footer {
    background-color: #187ee3;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}