<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student</title>
 
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Add your head content here -->
</head>

<body>


    <table id="myTable">
        <thead>
            <tr>
                <th>Giáo viên hướng dẫn</th>
                <th>Đề tài</th>
                <th>Lưu ý</th>
                <th>Thông tin sinh viên</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>

    <button id="refreshButton">Refresh Data</button>



       <script src="/script/student.js"></script>
</body>

</html>
