<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Add this script to the head section of your HTML file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>

    <!-- Table displaying data -->
    <table id="myTable">
        <tr>
            <th>Giáo viên hướng dẫn</th>
            <th>Đề tài</th>
            <th>Lưu ý</th>
            <th>Thông tin sinh viên</th>
            <th>Hành động</th>
        </tr>
    </table>

    <div id="userInfo">
        <!-- User information will be displayed here -->
    </div>

    <!-- Buttons for actions -->
    {{#if session.editPermission}}
    <button onclick="addRow()">Thêm</button>
    {{/if}}
    <script src="/script/them.js"></script>

</body>

</html>
